spring:
  servlet:
    multipart:
      max-request-size: 10MB
      max-file-size: 10MB
server:
  port: 8080
cloud:
  aws:
    credentials:
      access-key:
      secret-key: 
    s3:
      bucket: insomnidiary
    region:
      static: ap-northeast-2
    stack:
      auto: false